extends ../layout

block content
    .page-wrapper
      include ../partials/header
      main.main.mt-5
        .page-content
          .container
            .row
              .col-lg-9
                .toolbox
                  .toolbox-left
                    .toolbox-info
                  .toolbox-right
                    .toolbox-sort
                      label(for='sortby') Sắp xếp theo:
                      .select-custom
                        select#sortby.form-control(name='sortby')
                          option(value="rating") Phổ biến nhất
                          option(value='asc') Giá: thấp - cao
                          option(value='desc') Giá: cao - thấp
                .products.mb-3
                  .row.justify-content-start#productContainer
                    if products.length > 0
                      each product in products
                        .col-md-4.col-lg-3.shadow-sm.mb-2.px-2
                          .product.product-7.text-center
                            figure.product-media
                              a(href=`/product/${product.id}`)
                                 img.product-image.hover-effect(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
                              .product-action
                                form(action='/cart' method='POST').addtocart
                                  input(type='hidden' name='productId' value=product.id)
                                  input(type='hidden' name='quantity' value='1')
                                  button.btn-product.btn-cart(type='submit' title='Thêm vào giỏ hàng')
                                    span Thêm vào giỏ hàng
                            .product-body
                              .product-cat
                                a(href=product.categories) #{product.categories}
                              h3.product-title
                                a(href=`/product/${product.id}`)
                                  | #{product.productName}
                              .product-price
                                | #{product.price} đ
                              .sold.text-warning
                                | Đã bán: #{product.sold}
                      .text-center.mt-4
                        button#loadMoreBtn.btn.btn-outline-primary-2 Xem thêm
                    else
                      .col-md-12.text-center
                        h3.text-dark.text-center Không tìm thấy sản phẩm nào phù hợp với từ khóa "#{searchQuery}"
              aside.col-lg-3.order-lg-first
                //- .sidebar.sidebar-shop
                //-   .widget.widget-clean
                //-     label 
                //-     a.sidebar-filter-clear(href='#') Clean All
                .widget.widget-collapsible
                  h3.widget-title
                    a(data-toggle='collapse' href='#widget-5' role='button' aria-expanded='true' aria-controls='widget-5')
                      | Bộ lọc
                  #widget-5.collapse.show
                    .widget-body
                      .filter-category
                        b.filer-category-text.md-2 
                          | Danh mục
                          each category in categories
                            .category-inputs.d-flex.align-items-center.mb-2.ml-4
                              - if(category.id==categoryId)
                                  a(href=`/category/${category.id}`).font-weight-border
                                    u= category.categoryName
                              - else
                                  a(href=`/category/${category.id}`).font-weight-normal.text-muted
                                    span= category.categoryName
                      //- .filter-address
                      //-   b.filter-address-text.mb-2
                      //-     | Nơi bán
                      //-   .address-inputs.d-flex.align-items-center.mb-2
                      //-     input(type="checkbox") 
      include ../partials/footer
    script.
      document.addEventListener('DOMContentLoaded', function() {
        let currentPage = 1;
        const loadMoreBtn = document.getElementById('loadMoreBtn');
        const productContainer = document.getElementById('productContainer');
        const sortBySelect = document.getElementById('sortby');
        const limit = 20;

        // Lấy categoryId từ URL
        const categoryId = window.location.pathname.split('/').pop();

        sortBySelect.addEventListener('change', function() {
          currentPage = 1;
          productContainer.innerHTML = '';
          loadProducts(); 
        });

        async function loadProducts() {
          const sortBy = sortBySelect.value; 
          try {
            const response = await fetch(`/category/api/category/${categoryId}?page=${currentPage}&limit=${limit}&sortby=${sortBy}`);
            if (!response.ok) {
              throw new Error('Network response was not ok');
            }
            const products = await response.json();
            
            // Nếu products tồn tại, tiếp tục xử lý
            if (products.length > 0) {
              products.forEach(product => {
                const productElement = document.createElement('div');
                productElement.className = 'col-md-4 col-lg-3 shadow-sm mb-2 px-2';
                productElement.innerHTML = `
                  <div class="product product-7 text-center">
                    <figure class="product-media">
                      <a href="/product/${product.id}">
                        <img class="product-image hover-effect" src="data:image/png;base64,${product.mainImage.toString('base64')}" alt="${product.productName}">
                      </a>
                      <div class="product-action">
                        <form action="/cart" method="POST" class="addtocart">
                          <input type="hidden" name="productId" value="${product.id}">
                          <input type="hidden" name="quantity" value="1">
                          <button class="btn-product btn-cart" type="submit" title="Thêm vào giỏ hàng">
                            <span>Thêm vào giỏ hàng</span>
                          </button>
                        </form>
                      </div>
                    </figure>
                    <div class="product-body">
                      <div class="product-cat">
                        <a></a>
                      </div>
                      <h3 class="product-title">
                        <a href="/product/${product.id}">${product.productName}</a>
                      </h3>
                      <div class="product-price">
                        ${product.price} đ
                      </div>
                      <div class="sold text-warning">
                        Đã bán: ${product.sold}
                      </div>
                    </div>
                  </div>
                `;
                productContainer.appendChild(productElement);
              });
              productContainer.appendChild(loadMoreBtn.parentNode);

              if (products.length < limit) {
                loadMoreBtn.style.display = 'none';
              }
            } else {
              console.log('No more products to load');
              loadMoreBtn.style.display = 'none';
            }

          } catch (error) {
            console.error('Error loading more products:', error);
            loadMoreBtn.style.display = 'none'; // Ẩn nút nếu gặp lỗi
          }
        }

        // Gọi hàm loadProducts khi nhấn nút "Xem thêm"
        loadMoreBtn.addEventListener('click', () => {
          currentPage++;
          loadProducts();
          console.log('Loading more products');
        });
      });
