extends ../layout

block content
    .page-wrapper
      include ../partials/header
      main.main.mt-5
        .page-content
          .container
            .row
              .col-lg-9
                .toolbox
                  .toolbox-left
                    b= products[0].categoryName
                      
                .products.mb-3
                  .row.justify-content-start
                    if products.length > 0
                      each product in products
                        .col-3
                          .product.px-4.pt-2
                            figure.product-media
                              a.product-image-link(href=`/product/${product.id}`)
                                img.product-image(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
                            .product-body
                              h3.product-title
                                a(href=`/product/${product.id}`)= product.productName
                              .product-price
                                span= product.price
                                  |.000VND
                              .product-star 
                                span= product.sold
                    else
                      .col-md-12.text-center
                        p.text-center Không tìm thấy sản phẩm nào phù hợp với từ khóa "#{searchQuery}"
                nav(aria-label='Page navigation')
                  ul.pagination.justify-content-center
                    li.page-item.disabled
                      a.page-link.page-link-prev(href='#' aria-label='Previous' tabindex='-1' aria-disabled='true')
                        span(aria-hidden='true')
                          i.icon-long-arrow-left
                        | Prev
                    li.page-item.active(aria-current='page')
                      a.page-link(href='#') 1
                    li.page-item
                      a.page-link(href='#') 2
                    li.page-item
                      a.page-link(href='#') 3
                    li.page-item-total of 6
                    li.page-item
                      a.page-link.page-link-next(href='#' aria-label='Next')
                        | Next 
                        span(aria-hidden='true')
                          i.icon-long-arrow-right
              aside.col-lg-3.order-lg-first
                //- .sidebar.sidebar-shop
                //-   .widget.widget-clean
                //-     label 
                //-     a.sidebar-filter-clear(href='#') Clean All
                .widget.widget-collapsible
                  h3.widget-title
                    a(data-toggle='collapse' href='#widget-5' role='button' aria-expanded='true' aria-controls='widget-5')
                      | Bộ lọc
                  #widget-5.collapse.show
                    .widget-body
                      .filter-category
                        b.filer-category-text.md-2 
                          | Danh mục
                          each category in categories
                            .category-inputs.d-flex.align-items-center.mb-2.ml-4
                              - if(category.id==categoryId)
                                  a(href=`/category/${category.id}`).font-weight-border
                                    u= category.categoryName
                              - else
                                  a(href=`/category/${category.id}`).font-weight-normal.text-muted
                                    span= category.categoryName
                      .filter-address
                        b.filter-address-text.mb-2
                          | Nơi bán
                        .address-inputs.d-flex.align-items-center.mb-2
                          input(type="checkbox") 
      include ../partials/footer