extends ../layout

block content
  .page-wrapper
    include ../partials/header
    .container-fluid
    .row
      nav.col-md-3.col-lg-2.d-md-block.sidebarr.collapse.mt-3
        .position-sticky
          ul.nav.flex-column
            li.nav-item
              a.nav-link(href='/vendor' )
                i.fas.fa-box.me-2
                |                                 Sản phẩm
            li.nav-item
              a.nav-link(href='/vendororder' )
                i.fas.fa-shopping-cart.me-2
                |                                Đơn hàng
            li.nav-item
              a.nav-link(href='' )
                i.fas.fa-percentage.me-2
                |                                 Kênh marketing
      #layoutSidenav_content.col-md-9.col-lg-10
        main
          .container-fluid.px-4
            h1.mt-4 Đơn hàng
            ol.breadcrumb.mb-4
              li.breadcrumb-item.active Toàn bộ đơn hàng
            .card.mb-4
              .card-header
                i.fas.fa-table.me-1
                | Tất cả đơn hàng
              .card-body
                table#datatablesSimple
                  thead
                      tr.text-center
                        th Đơn hàng
                        th Khách hàng
                        th Địa chỉ
                        th Tổng tiền
                        th Thời gian
                        th Trạng thái
                        th 
                        th
                  tbody
                    tr.text-center
                      td Demo1
                      td Khách hàng
                      td Địa chỉ
                      td Tổng tiền
                      td Thời gian
                      td Trạng thái
                      td 
                      td
                    each order in orders
                      tr.text-center
                        td= order.id
                        td= order.recipientName
                        td= order.recipientAddress
                        td 12.000 đ
                        td= order.createdAt
                        td
                          - if(order.status==1)
                            form(action=`/vendororder/${order.id}?_method=PUT`, method="post") 
                              button(type="submit" ).badge.bg-warning Chờ xác nhận
                          - if(order.status==2)
                              form(action="", method="post") 
                                button(type="submit" disabled).badge.bg-warning Đang chuyển giao vận chuyển
                          - if(order.status==0)
                              form(action="", method="post") 
                                button(type="submit" disabled).badge.bg-danger Đã hủy
                        td
                          form(action="" method="") 
                            button(type="submit").btn.btn-info.btn-sm
                              i.fas.fa-eye.me-1
                              | Chi tiết
                        td
                          form(action=`/vendororder/${order.id}/cancel?_method=PUT`, method="post") 
                            button(type="submit").btn.btn-danger.btn-sm
                              | Hủy đơn hàng
    include ../partials/footer