extends ../layout

block content
  nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
    // Navbar Brand
    a.navbar-brand.ps-3(href='/vendor') Molla
    // Sidebar Toggle
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
      i.fas.fa-bars
    // Navbar Search
    form.d-none.d-md-inline-block.form-inline.ms-auto.me-0.me-md-3.my-2.my-md-0
      .input-group
        input.form-control(type='text' placeholder='Search for...' aria-label='Search for...' aria-describedby='btnNavbarSearch')
        button#btnNavbarSearch.btn.btn-primary(type='button')
          i.fas.fa-search
    // Navbar
    ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          i.fas.fa-user.fa-fw
        ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
          li
            form(action=`/auth/${userId}?_method=DELETE`, method="post") 
              button(type="submit").dropdown-item Đăng xuất
  #layoutSidenav
    #layoutSidenav_nav
      nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
        .sb-sidenav-menu
          .nav
            .sb-sidenav-menu-heading Tổng quan
            a.nav-link(href='/vendor')
              .sb-nav-link-icon
                i.fas.fa-tachometer-alt
              |                                 Tổng quan
            .sb-sidenav-menu-heading Quản lí
            a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#collapseLayouts' aria-expanded='false' aria-controls='collapseLayouts')
              .sb-nav-link-icon
                i.fas.fa-columns
              |                                 Đơn hàng
              .sb-sidenav-collapse-arrow
                i.fas.fa-angle-down
            #collapseLayouts.collapse(aria-labelledby='headingOne' data-bs-parent='#sidenavAccordion')
              nav.sb-sidenav-menu-nested.nav
                a.nav-link(href='/vendor/orders') Đơn hàng
                a.nav-link(href='###') Đơn hàng đã hủy
            a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#collapsePages' aria-expanded='false' aria-controls='collapsePages')
              .sb-nav-link-icon
                i.fas.fa-book-open
              |                                 Sản phẩm
              .sb-sidenav-collapse-arrow
                i.fas.fa-angle-down
            #collapsePages.collapse(aria-labelledby='headingTwo' data-bs-parent='#sidenavAccordion')
              nav#sidenavAccordionPages.sb-sidenav-menu-nested.nav.accordion
                a.nav-link.collapsed(href='/vendor/products')
                  | Sản phẩm
                a.nav-link.collapsed(href='/vendor/product/new')
                  | Thêm sản phẩm
            .sb-sidenav-menu-heading Thành phần khác
            a.nav-link(href='#')
              .sb-nav-link-icon
                i.fas.fa-table
              |                                 Phiếu giảm giá(Đang nguyên cứu thêm)
        .sb-sidenav-footer
          .small
          | 2024
    #layoutSidenav_content
      main
        .container
          h2.text-center.mb-4.text-primary Chi tiết đơn hàng
              h5.text-primary.mt-4.mb-3.text-center Sản phẩm trong đơn hàng
              table.table
                thead
                  tr
                    th Tên sản phẩm
                    th.text-center Giá
                    th.text-center Số lượng
                    th.text-right Thành tiền
                tbody
                  each detail in orders
                    tr
                      td.text-decoration-none.text-dark= detail.product.productName
                      td.text-center.text-success= detail.unitPrice + ' VNĐ'
                      td.text-center= detail.quantity
                      td.text-right.text-primary= (detail.unitPrice * detail.quantity) + ' VNĐ'
                    
        // End .container