extends ../layout

block content
  nav.sb-topnav.navbar.navbar-expand.navbar-dark.bg-dark
    // Navbar Brand
    a.navbar-brand.ps-3(href='/vendor') Molla
    // Sidebar Toggle
    button#sidebarToggle.btn.btn-link.btn-sm.order-1.order-lg-0.me-4.me-lg-0(href='#!')
      i.fas.fa-bars
    // Navbar Search
    form.d-none.d-md-inline-block.form-inline.ms-auto.me-0.me-md-3.my-2.my-md-0
      .input-group
        input.form-control(type='text' placeholder='Search for...' aria-label='Search for...' aria-describedby='btnNavbarSearch')
        button#btnNavbarSearch.btn.btn-primary(type='button')
          i.fas.fa-search
    // Navbar
    ul.navbar-nav.ms-auto.ms-md-0.me-3.me-lg-4
      li.nav-item.dropdown
        a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
          i.fas.fa-user.fa-fw
        ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
            form(action=`/auth/${userId}?_method=DELETE`, method="post") 
              button(type="submit").dropdown-item Đăng xuất
  #layoutSidenav
    #layoutSidenav_nav
      nav#sidenavAccordion.sb-sidenav.accordion.sb-sidenav-dark
        .sb-sidenav-menu
          .nav
            .sb-sidenav-menu-heading Tổng quan
            a.nav-link(href='/vendor')
              .sb-nav-link-icon
                i.fas.fa-tachometer-alt
              |                                 Tổng quan
            .sb-sidenav-menu-heading Quản lí
            a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#collapseLayouts' aria-expanded='false' aria-controls='collapseLayouts')
              .sb-nav-link-icon
                i.fas.fa-columns
              |                                 Đơn hàng
              .sb-sidenav-collapse-arrow
                i.fas.fa-angle-down
            #collapseLayouts.collapse(aria-labelledby='headingOne' data-bs-parent='#sidenavAccordion')
              nav.sb-sidenav-menu-nested.nav
                a.nav-link(href='/vendor/orders') Đơn hàng
                a.nav-link(href='###') Đơn hàng đã hủy
            a.nav-link.collapsed(href='#' data-bs-toggle='collapse' data-bs-target='#collapsePages' aria-expanded='false' aria-controls='collapsePages')
              .sb-nav-link-icon
                i.fas.fa-book-open
              |                                 Sản phẩm
              .sb-sidenav-collapse-arrow
                i.fas.fa-angle-down
            #collapsePages.collapse(aria-labelledby='headingTwo' data-bs-parent='#sidenavAccordion')
              nav#sidenavAccordionPages.sb-sidenav-menu-nested.nav.accordion
                a.nav-link.collapsed(href='/vendor/products')
                  | Sản phẩm
                a.nav-link.collapsed(href='/vendor/product/new')
                  | Thêm sản phẩm
            .sb-sidenav-menu-heading Thành phần khác
            a.nav-link(href='#')
              .sb-nav-link-icon
                i.fas.fa-table
              |                                 Phiếu giảm giá(Đang nguyên cứu thêm)
        .sb-sidenav-footer
          .small
          | 2024
    #layoutSidenav_content
      main
        .container-fluid.px-4
          h1.mt-4 Sản phẩm
          ol.breadcrumb.mb-4
            li.breadcrumb-item.active Toàn bộ sản phẩm 
          .card.mb-4
            .card-header
              i.fas.fa-table.me-1
              | Tất cả sản phẩm 
            .card-body
              table#datatablesSimple
                thead
                  tr
                    th STT
                    th sản phẩm
                    th Giá 
                    th Tồn kho
                    th Doanh mục
                    th Thời gian tạo
                    th 
                    th
                tbody 
                  - let STT=0
                    each product in products
                      tr  
                        td= STT=STT+1
                        td.row 
                          b.col-6= product.productName
                          //- img.col-6#avatar.img-thumbnail.mb-3.shadow.mx-auto.d-block(src=`data:image/png;base64,${product.mainImage.toString('base64')}` alt='' style='width: 150px; height: 150px; object-fit: cover;')
                        td= product.price
                          |VND
                        td= product.inventory
                        td= product.categories.categoryName
                        td= array[STT-1]
                        th 
                          a(href=`/vendor/product/${product.id}`).btn.btn-info.btn-sm
                            i.fas.fa-eye.me-1
                            | Chi tiết
                        th 
                          form(action=`/vendor/product/${product.id}?_method=DELETE`, method="post") 
                            button(type="submit").btn.btn-danger.btn-sm
                              | Xóa sản phẩm