extends ../layout3

block content
    .page-wrapper
      include ../partials/header
      main.main.mt-5
        .page-content
          h1.text-center.mb-3 Kết quả tìm kiếm cho "#{searchQuery} "
          .container
            .row
              .col-lg-9
                .toolbox
                  .toolbox-left
                    .toolbox-info
                      | Hiển thị 
                      span #{products.length} của #{products.length}
                      |  Sản phẩm
                  .toolbox-right
                    .toolbox-sort
                      label(for='sortby') Sort by:
                      .select-custom
                        select#sortby.form-control(name='sortby')
                          option(value="rating") Most Popular
                          option(value='price-asc') Price: Low - High
                          option(value='price-desc') Price: High - Low
                .products.mb-3
                  .row.justify-content-between
                    if products.length > 0
                      each product in products
                        .col-md-4.col-lg-3.shadow-sm.mb-2.px-2
                          .product.product-7.text-center
                            figure.product-media
                              a(href=`/product/${product.id}`)
                                 img.product-image.hover-effect(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
                              .product-action
                                a.btn-product.btn-cart(href='/cart/add' method='post')
                                  input(type='hidden' name='productId' value=product.id)
                                  input(type='hidden' name='quantity' value=1)
                                  span
                                    | add to
                                    | cart
                            .product-body
                              .product-cat
                                a(href=product.categories) #{product.categories}
                              h3.product-title
                                a(href=`/product/${product.id}`)
                                  | #{product.productName}
                              .product-price
                                | #{product.price}VNĐ
                              .sold.text-warning
                                | Đã bán: #{product.sold}
                    else
                      .col-md-12.text-center
                        p.text-center Không tìm thấy sản phẩm nào phù hợp với từ khóa "#{searchQuery}"
                nav(aria-label='Page navigation')
                  ul.pagination.justify-content-center
                    li.page-item.disabled
                      a.page-link.page-link-prev(href='#' aria-label='Previous' tabindex='-1' aria-disabled='true')
                        span(aria-hidden='true')
                          i.icon-long-arrow-left
                        | Prev
                    li.page-item.active(aria-current='page')
                      a.page-link(href='#') 1
                    li.page-item
                      a.page-link(href='#') 2
                    li.page-item
                      a.page-link(href='#') 3
                    li.page-item-total of 6
                    li.page-item
                      a.page-link.page-link-next(href='#' aria-label='Next')
                        | Next 
                        span(aria-hidden='true')
                          i.icon-long-arrow-right
              aside.col-lg-3.order-lg-first
                .sidebar.sidebar-shop
                  .widget.widget-clean
                    label Filters:
                    a.sidebar-filter-clear(href='#') Clean All
                .widget.widget-collapsible
                  h3.widget-title
                    a(data-toggle='collapse' href='#widget-5' role='button' aria-expanded='true' aria-controls='widget-5')
                      | Giá;
                  #widget-5.collapse.show
                    .widget-body
                      .filter-price
                        .filter-price-text.mb-2
                          | Khoảng giá:
                        .price-inputs.d-flex.align-items-center.mb-2
                          input#price-min.form-control.mr-2(type='number' placeholder='Tối thiểu')
                          span.mx-2 -
                          input#price-max.form-control.ml-2(type='number' placeholder='Tối đa')
                        button#apply-price.btn.btn-primary.btn-block Áp dụng
      include ../partials/footer
