extends ../layout2

block content
    .page-wrapper
      include ../partials/header
      main.main.mt-5
        .page-content
          .container
            .product-details-top.mb-2
              .row
                .col-md-4
                  .product-gallery
                    figure.product-main-image
                      img#ima.img-thumbnail.shadow.d-block(src=`data:image/png;base64,${product.mainImage.toString('base64')}` alt='product image')
                      
                    // End .product-main-image
                    #product-zoom-gallery.product-image-gallery.d-flex.justify-content-between
                      a.product-gallery-item.active(href='#' data-image='/images/products/single/extended/1.jpg')
                        img(src='/images/products/single/extended/1-small.jpg' alt='product side')
                      a.product-gallery-item(href='#' data-image='/images/products/single/extended/2.jpg')
                        img(src='/images/products/single/extended/2-small.jpg' alt='product cross')
                      a.product-gallery-item(href='#' data-image='/images/products/single/extended/3.jpg')
                        img(src='/images/products/single/extended/3-small.jpg' alt='product with model')
                    // End .product-image-gallery
                  // End .product-gallery
                // End .col-md-6
                .col-md-8
                  .product-details
                    h1.product-title= product.productName
                    // End .product-title
                    .ratings-container.d-flex.align-items-center
                      .ratings
                        .ratings-val(style='width: 80%;')
                        // End .ratings-val
                      // End .ratings
                      a#review-link.ratings-text(href='#product-review-link') ( 2 &Dstrok;&aacute;nh gi&aacute; )
                      span.separator |
                      span.sold-products Đã bán: 
                      span= product.sold
                    // End .rating-container
                    .product-price= product.price
                      |.000đ
                    // End .product-price
                    .product-content
                      p= product.description
                    // End .product-content
                    
                    .details-filter-row.details-row-size.align-items-center
                      label(for='qty') S&#x1ED1; l&#x1B0;&#x1EE3;ng:
                      .product-details-quantity
                        input#qty.form-control(type='number' value='1' min='1' step='1' data-decimals='0' required='')
                      // End .product-details-quantity
                      span.available-products.ml-2
                        | Còn lại: 
                        strong= product.inventory
                        | Sản phẩm
                    // End .details-filter-row
                    .product-details-action
                      a.btn-product.btn-cart(href='#')
                        span Th&ecirc;m v&agrave;o gi&#x1ECF; h&agrave;ng
                      
                    // End .product-details-action
                    .product-details-footer
                      .product-cat
                        span Danh mục:
                        a(href='#')= product.categories.categoryName
                      // End .product-cat
          .product-details-footer.d-block
            .shop-product.row.justify-content-around
              .sdf.row
                .rounded-circle.bg-primary.p-1.d-inline-block.overflow-hidden.dropdown.ml-3.mr-3(style='width: 100px; height: 100px;')
                  - if(product.user.avatar)
                      img.img-fluid.rounded-circle(src=`data:image/png;base64,${product.user.avatar.toString('base64')}` alt='Ảnh đại diện' style='object-fit: cover; width: 100%; height: 100%;')
                  - else
                      img.img-fluid.rounded-circle(src='images/avatar_user_null.png' alt='Ảnh đại diện' style='object-fit: cover; width: 100%; height: 100%;')
                .shop-name.d-flex.flex-column.justify-content-around
                  .d-flex.ml-3.mr-3
                    b= product.user.fullName
                  .shop-interact
                    a(href="").btn.btn-primary.text-white Chat ngay
                    span.ml-1.mr-1
                    a(href="").btn.btn-outline-primary.text-primary Xem Shop
              .shop-information.d-flex.flex-column.justify-content-around.ml-3.mr-3
                .shop-products
                  i Sản phẩm 
                    b.text-primary= contproduct
                .shop-time 
                  i Tham gia 
                    b.text-primary= time
          .product-details-tab.product-details-extended
            .container
              ul.nav.nav-pills.justify-content-center(role='tablist')
                li.nav-item
                  a#product-desc-link.nav-link.active(data-toggle='tab' href='#product-desc-tab' role='tab' aria-controls='product-desc-tab' aria-selected='true') M&ocirc; t&#x1EA3;
                li.nav-item
                  a#product-review-link.nav-link(data-toggle='tab' href='#product-review-tab' role='tab' aria-controls='product-review-tab' aria-selected='false') &Dstrok;&aacute;nh gi&aacute; (2)
            // End .container
            .tab-content
              #product-desc-tab.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='product-desc-link')
                .product-desc-content
                  .container
                    .row.justify-content-start
                      .col-sm-6.col-lg-4
                        h2 Product Information
                        ul
                          li Faux suede fabric upper
                          li Tie strap buckle detail
                          li Block heel
                          li Open toe
                          li Heel Height: 7cm / 2.5 inches
                      // End .col-lg-4
                    // End .row
                  // End .container
                  // End .product-desc-row
                // End .product-desc-content
              // .End .tab-pane
              #product-review-tab.tab-pane.fade(role='tabpanel' aria-labelledby='product-review-link')
                .reviews
                  .container
                    h3 Reviews (2)
                    .review
                      .row.no-gutters
                        .col-auto
                          h4
                            a(href='#') Samanta J.
                          .ratings-container
                            .ratings
                              .ratings-val(style='width: 80%;')
                              // End .ratings-val
                            // End .ratings
                          // End .rating-container
                          span.review-date 6 days ago
                        // End .col
                        .col
                          h4 Good, perfect size
                          .review-content
                            p
                              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!
                          // End .review-content
                          .review-action
                            a(href='#')
                              i.icon-thumbs-up
                              | Helpful (2)
                            a(href='#')
                              i.icon-thumbs-down
                              | Unhelpful (0)
                          // End .review-action
                        // End .col-auto
                      // End .row
                    // End .review
                    .review
                      .row.no-gutters
                        .col-auto
                          h4
                            a(href='#') John Doe
                          .ratings-container
                            .ratings
                              .ratings-val(style='width: 100%;')
                              // End .ratings-val
                            // End .ratings
                          // End .rating-container
                          span.review-date 5 days ago
                        // End .col
                        .col
                          h4 Very good
                          .review-content
                            p
                              | Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!
                          // End .review-content
                          .review-action
                            a(href='#')
                              i.icon-thumbs-up
                              | Helpful (0)
                            a(href='#')
                              i.icon-thumbs-down
                              | Unhelpful (0)
                          // End .review-action
                        // End .col-auto
                      // End .row
                    // End .review
                  // End .container
                // End .reviews
              // .End .tab-pane
            // End .tab-content
            .bg-lighter.trending-products
                .headinsg.mb-3
                  .heading-center
                    h2.title.text-center.text-primary.pt-4 Cùng danh mục
                    // End .title
                  .heading-right
                    ul.nav.nav-pills.justify-content-start(role='tablist')
                      li.nav-item
                        a.active(data-toggle='tab' href='#trending-all-tab' role='tab' aria-controls='trending-all-tab' aria-selected='true')
                .row.justify-content-center
                  .tab-content.tab-content-carousel.col-11
                    #trending-all-tab.tab-pane.p-0.fade.show.active(role='tabpanel' aria-labelledby='trending-all-link')
                      .owl-carousel.owl-simple.carousel-equal-height.carousel-with-shadow(data-toggle='owl' data-owl-options='{\
                      "nav": false, \
                      "dots": true,\
                      "margin": 20,\
                      "loop": false,\
                      "responsive": {\
                      "0": {\
                      "items":5\
                      },\
                      "480": {\
                      "items":5\
                      },\
                      "768": {\
                      "items":5\
                      },\
                      "992": {\
                      "items":5\
                      },\
                      "1200": {\
                      "items":5,\
                      "nav": true\
                      }\
                      }\
                      }')
                        each product in productsCate
                          .product.text-center.fancy-product
                            figure.product-media
                              a.product-image-link(href=`product.html?id=${product.id}`)
                                img.product-image.hover-effect(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
                              .product-action
                                form(action='/cart' method='POST').addtocart.fadd
                                  input(type='hidden' name='productId' value=product.id)
                                  input(type='hidden' name='quantity' value='1')
                                  button.btn-product.btn-cart.pt-1(type='submit' title='Thêm vào giỏ hàng')
                                    span Thêm vào giỏ hàng
                            .product-body
                              h3.product-title
                                a(href=`/product/${product.id}`)= product.productName
                              .product-price
                                span= `${product.price.toLocaleString('vi-VN')} ₫`
                              .sold.text-warning
                                | Đã bán: #{product.sold}
                .more.mx-auto.text-center.mt-2
                  a(href="###") Xem thêm
      // End .main

      include ../partials/footer
