extends ../layout

block content
    .page-wrapper
      include ../partials/header
      main.main.mt-5
        .page-content
          .container
            .product-details-top.mb-2
              .row
                .col-md-4
                  .product-gallery
                    figure.product-main-image
                      img#ima.img-thumbnail.shadow.d-block(src=`data:image/png;base64,${product.mainImage.toString('base64')}` alt='product image')
                .col-md-8
                  form(action='/cart' method='post').product-details
                    h1.product-title= product.productName
                    // End .product-title
                    .ratings-container.d-flex.align-items-center
                      .ratings
                        .ratings-val(style='width: 80%;')
                      a#review-link.ratings-text(href='#product-review-link') ( 2 &Dstrok;&aacute;nh gi&aacute; )
                      span.separator |
                      span.sold-products Đã bán: 
                      span= product.sold
                    // End .rating-container
                    .product-price
                      span= `${product.price.toLocaleString('vi-VN')} ₫`
                    .product-content
                      p= product.description
                    // End .product-content
                    
                    .details-filter-row.details-row-size.align-items-center
                      label(for='qty') Số lượng:
                      .product-details-quantity
                        input#qty.form-control(type='number' name='quantity' value='1' min='1' step='1' data-decimals='0' required='')
                      // End .product-details-quantity
                      span.available-products.ml-2
                        | Còn lại: 
                        strong= product.inventory
                        | Sản phẩm
                    // End .details-filter-row
                    .product-details-action
                        input(type="hidden", name="productId" value=`${product.id}`)
                        button(type="submit").btn-product.btn-cart.btn-add-to-cart Thêm vào giỏ hàng
                    // End .product-details-action
                    .product-details-footer
                      .product-cat
                        span Danh mục:
                        a(href='#')= product.categories.categoryName
                      // End .product-cat
          .product-details-footer.d-block
            .shop-product.justify-content-around.d-flex
              .sdf.d-flex
                .rounded-circle.bg-primary.p-1.d-inline-block.overflow-hidden.dropdown.ml-3.mr-3(style='width: 100px; height: 100px;')
                  - if(product.user.avatar)
                      img.img-fluid.rounded-circle(src=`data:image/png;base64,${product.user.avatar.toString('base64')}` alt='Ảnh đại diện' style='object-fit: cover; width: 100%; height: 100%;')
                  - else
                      img.img-fluid.rounded-circle(src='/images/avatar_user_null.png' alt='Ảnh đại diện' style='object-fit: cover; width: 100%; height: 100%;')
                .shop-name.d-flex.flex-column.justify-content-around
                  .d-flex.ml-3.mr-3
                    b= product.user.fullName 
                      | (Shop)
                  .shop-interact
                    span.ml-1.mr-1
                    a(href=`/product/shop/${product.userId}`).btn.btn-outline-primary.text-primary Xem Shop
              .shop-information.d-flex.flex-column.justify-content-around.ml-3.mr-3
                .shop-products
                  i Sản phẩm 
                    b.text-primary= contproduct
                .shop-time 
                  i Tham gia 
                    b.text-primary= time
          .product-details-tab.product-details-extended
            .container
              ul.nav.nav-pills.justify-content-center(role='tablist')
                li.nav-item
                  a#product-desc-link.nav-link.active(data-toggle='tab' href='#product-desc-tab' role='tab' aria-controls='product-desc-tab' aria-selected='true') Mô tả
                li.nav-item
                  a#product-review-link.nav-link(data-toggle='tab' href='#product-review-tab' role='tab' aria-controls='product-review-tab' aria-selected='false') Đánh giá
            // End .container
            .tab-content
              #product-desc-tab.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='product-desc-link')
                .product-desc-content
                  .container
                    .row.justify-content-start
                      .col-sm-6.col-lg-4
                        h2 Product Information
                        ul
                          li Faux suede fabric upper
                          li Tie strap buckle detail
                          li Block heel
                          li Open toe
                          li Heel Height: 7cm / 2.5 inches
                      // End .col-lg-4
                    // End .row
                  // End .container
                  // End .product-desc-row
                // End .product-desc-content
              // .End .tab-pane
              #product-review-tab.tab-pane.fade(role='tabpanel' aria-labelledby='product-review-link')
                .reviews
                  .container
                    h3 Đánh giá
                    if !reviews.length
                      .no-reviews
                        p Sản phẩm chưa có đánh giá!
                    each review in reviews
                      .review
                        .row.no-gutters
                          .col-auto
                            h4
                              a(href='#')= review.user.fullName
                            .ratings-container
                              .ratings
                                .ratings-val(style=`width: ${review.star * 20}%;`)
                              //- span.review-date= review.createdAt
                          .col
                            h4= review.mainContent
                            .review-content
                              p= review.content
            .bg-lighter.trending-products
                .headinsg.mb-3
                  .heading-center
                    h2.title.text-center.text-primary.pt-4 Cùng danh mục
                    // End .title
                  .heading-right
                    ul.nav.nav-pills.justify-content-start(role='tablist')
                      li.nav-item
                        a.active(data-toggle='tab' href='#trending-all-tab' role='tab' aria-controls='trending-all-tab' aria-selected='true')
                .row.justify-content-center
                  .tab-content.tab-content-carousel.col-11
                    #trending-all-tab.tab-pane.p-0.fade.show.active(role='tabpanel' aria-labelledby='trending-all-link')
                      .owl-carousel.owl-simple.carousel-equal-height.carousel-with-shadow(data-toggle='owl' data-owl-options='{\
                      "nav": false, \
                      "dots": true,\
                      "margin": 20,\
                      "loop": false,\
                      "responsive": {\
                      "0": {\
                      "items":5\
                      },\
                      "480": {\
                      "items":5\
                      },\
                      "768": {\
                      "items":5\
                      },\
                      "992": {\
                      "items":5\
                      },\
                      "1200": {\
                      "items":5,\
                      "nav": true\
                      }\
                      }\
                      }')
                        each product in productsCate
                          .product.product-7.text-center
                            figure.product-media
                              a(href=`/product/${product.id}`)
                                 img.product-image.hover-effect(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
                              .product-action
                                form(action='/cart' method='POST').addtocart
                                  input(type='hidden' name='productId' value=product.id)
                                  input(type='hidden' name='quantity' value='1')
                                  button.btn-product.btn-cart(type='submit' title='Thêm vào giỏ hàng')
                                    span Thêm vào giỏ hàng
                            .product-body
                              .product-cat
                                a(href=product.categories) #{product.categories}
                              h3.product-title
                                a(href=`/product/${product.id}`)
                                  | #{product.productName}
                              .product-price
                                | #{product.price} đ
                              .sold.text-warning
                                | Đã bán: #{product.sold}
      // End .main

      include ../partials/footer
