extends ../layout2

block content
  .page-wrapper
    include ../partials/header
    main.main
      .page-header.text-center(style="background-image: url('assets/images/page-header-bg.jpg')")
        .container
          h1.page-title Checkout
      .page-content
        .checkout
          .container
            form(action="/checkout" method="POST")
              .row.mt-3 
                .col-lg-9
                  h2.checkout-title Billing Details
                  .row
                    .col-sm-6
                      label Họ và tên *
                      input.form-control(type='text' name='recipientName' required='')
                    .col-sm-6
                      label Số điện thoại *
                      input.form-control(type='tel' name='recipientNumberPhone' required='')
                    .col-sm-12
                      label Quốc gia *
                      input.form-control(type='text' value='Vietnam' readonly='')
                    .col-6
                      label Tỉnh / Thành phố *
                      select.form-control(name='province' id='province' required='')
                        option(value='') Chọn tỉnh thành
                        each province in provinces
                          option(value=province.code)= province.name
                    .col-6
                      label Huyện / Quận *
                      select.form-control(name='district' id='district' required='')
                        option(value='') Chọn huyện
                    .col-6
                      label Xã / Phường *
                      select.form-control(name='ward' id='ward' required='')
                        option(value='') Chọn xã
                    .col-6
                      label Địa chỉ *
                      input.form-control(type='text' name='recipientAddress' placeholder='Số hoặc địa chỉ nhà' required='')

                    .col-12
                      label Ghi chú (optional)
                      textarea.form-control(cols='30' rows='4' placeholder='Notes about your order, e.g. special notes for delivery')
                .col-lg-3.mt-2
                  .summary
                    h3.summary-title Your Order
                    table.table.table-summary
                      thead
                        tr
                          th Product
                          th Total
                      tbody
                        each cart in carts
                          tr
                            td
                              a(href=`/product/${cart.product.id}`)= cart.product.productName
                            td= `${(Math.round(cart.product.price * cart.quantity * 10) / 10)} VNĐ`
                      tr.summary-subtotal
                        td Subtotal:
                        td= `${carts.reduce((total, cart) => total + (cart.product.price * cart.quantity), 0)} VNĐ`
                      tr
                        td Shipping:
                        td Free shipping
                      tr.summary-total
                        td Total:
                        td= `${carts.reduce((total, cart) => total + (cart.product.price * cart.quantity), 0)} VNĐ`
                    #accordion-payment.accordion-summary
                      .card.mb-1
                        #heading-3.card-header
                          h2.card-title
                            .form-check
                              input#cashOnDelivery.form-check-input(type='radio' name='paymentMethod' value='cod' checked)
                              label.form-check-label.mx-2(for='cashOnDelivery') Cash on delivery
                      .card.mb-1
                        #heading-5.card-header
                          h2.card-title
                            .form-check
                              input#creditCard.form-check-input(type='radio' name='paymentMethod' value='vnpay')
                              label.form-check-label.mx-2(for='creditCard') Vnpay
                            img.mt-1(src='images/payments-summary.png' alt='payments cards')
                    button.btn.btn-outline-primary-2.btn-order.btn-block(type='submit')
                      span.btn-text Thanh toán
                      span.btn-hover-text Proceed to Checkout

  include ../partials/footer
  script.
    document.querySelector("#checkoutForm").addEventListener("submit", function(event) {
      const selectedPaymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;
      
      if (selectedPaymentMethod === 'vnpay') {
        console.log("VNPay payment method selected");
      } else if (selectedPaymentMethod === 'cod') {
        console.log("COD payment method selected");
      }
    });