extends ../layout2

block content
  .page-wrapper
    include ../partials/header
    main.main
      .page-header.text-center.mb-4(style="background-image: url('assets/images/page-header-bg.jpg')")
        .container
          h1.page-title Giỏ hàng
      .page-content
        #cart
          .container
            if !carts.length
              .no-orders.text-center
                    p Giỏ hàng trống
                    a.btn.btn-primary(href="/") Tiếp tục mua sắm
            else 
              .row
                .col-lg-9
                  form#updateForm(action='/cart/update' method='post')
                    table.table.table-cart.table-mobile
                      thead
                        tr
                          th Sản phẩm
                          th Giá
                          th Số lượng
                          th Tổng cộng
                          th
                      tbody
                        //loi sp dau khong co form submit
                        each cart in carts
                          tr
                            td.product-col
                              .product
                                figure.product-media
                                  a(href=`/product/${cart.product.id}`)
                                    img(src=`data:image/png;base64,${cart.product.mainImage.toString('base64')}`, alt=`No image`)
                                h3.product-title
                                  a(href=`/product/${cart.product.id}`)= cart.product.productName
                            td.price-col= cart.product.price
                            td.quantity-col
                              .cart-product-quantity
                                input(type='hidden' name='productId' value=cart.productId)
                                input.form-control(type='number' name='quantity' value=cart.quantity min='1' max=cart.product.inventory step='1' data-decimals='0' required='')
                            td.total-col= `${(Math.round(cart.product.price * cart.quantity * 10) / 10)} đ`
                            td.remove-col
                              form(action='/cart/remove' method='post')
                                input(type='hidden' name='productId' value=cart.productId)
                                button.btn-remove(type='submit')
                                  i.icon-close
                    .cart-bottom
                      button.btn.btn-outline-dark-2(type='submit')
                        span CẬP NHẬT GIỎ HÀNG
                        i.icon-refresh
                aside.col-lg-3
                  .summary.summary-cart
                    h3.summary-title TIẾP TỤC MUA SẮM
                    table.table.table-summary
                      tbody
                        tr.summary-subtotal
                          td CẬP NHẬT GIỎ HÀNG
                          td= `${carts.reduce((total, cart) => total + (cart.product.price * cart.quantity), 0)} vnđ`
                        tr.summary-shipping
                          td Vận chuyển:
                          td &nbsp;
                        tr.summary-shipping-row
                          td
                              label(for='free-shipping') Miễn phí vận chuyển
                          td 0đ
                        tr.summary-shipping-estimate
                          td
                            br
                          td &nbsp;
                        tr.summary-total
                          td Tổng cộng:
                          td= `${carts.reduce((total, cart) => total + (cart.product.price * cart.quantity), 0)} đ`
                  form(action='/checkout' method="GET")
                    button.btn.btn-outline-primary-2.btn-order.btn-block(type="submit") TIẾN HÀNH THANH TOÁN
    include ../partials/footer