extends ../layout

block content
  .page-wrapper
    include ../partials/header
    main.main
      .mb-lg-2
      .container-fluid
        .row
          .col-xl-11.mx-auto
            .row
              .col-lg-12
                .row
                  .col-md-9
                    .banner.banner-overlay
                      #carouselExampleCaptions.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                          li.active(data-target='#carouselExampleCaptions' data-slide-to='0')
                          li(data-target='#carouselExampleCaptions' data-slide-to='1')
                          li(data-target='#carouselExampleCaptions' data-slide-to='2')
                          li(data-target='#carouselExampleCaptions' data-slide-to='3')
                          li(data-target='#carouselExampleCaptions' data-slide-to='4')
                          li(data-target='#carouselExampleCaptions' data-slide-to='5')
                          li(data-target='#carouselExampleCaptions' data-slide-to='6')
                          li(data-target='#carouselExampleCaptions' data-slide-to='7')

                        .carousel-inner
                          .carousel-item.active
                            img.d-block.w-100(src=`data:image/png;base64,${banners[0].imageAddress.toString('base64')}`, alt=`banner1` )
                          .carousel-item
                            img.d-block.w-100(src=`data:image/png;base64,${banners[1].imageAddress.toString('base64')}` alt='banner2')
                          .carousel-item
                            img.d-block.w-100(src=`data:image/png;base64,${banners[2].imageAddress.toString('base64')}`, alt=`banner3` )
                          .carousel-item
                            img.d-block.w-100(src=`data:image/png;base64,${banners[3].imageAddress.toString('base64')}`, alt=`banner4` )
                          .carousel-item
                            img.d-block.w-100(src=`data:image/png;base64,${banners[4].imageAddress.toString('base64')}`, alt=`banner5` )
                          .carousel-item
                            img.d-block.w-100(src=`data:image/png;base64,${banners[5].imageAddress.toString('base64')}`, alt=`banner6` )
                        button.carousel-control-prev(type='button' data-target='#carouselExampleCaptions' data-slide='prev')
                          span.carousel-control-prev-icon(aria-hidden='true')
                          span.sr-only Previous
                        button.carousel-control-next(type='button' data-target='#carouselExampleCaptions' data-slide='next')
                          span.carousel-control-next-icon(aria-hidden='true')
                          span.sr-only Next


                  .col-md-3.d-flex.flex-wrap.align-items-center.justify-content-around
                    .banner.banner-overlay
                      a(href='/category/4')
                        img(src=`data:image/png;base64,${banners[6].imageAddress.toString('base64')}` alt='Banner 7')
                    .banner.banner-overlay
                      a(href='/category/1')
                        img(src=`data:image/png;base64,${banners[7].imageAddress.toString('base64')}` alt='Banner 8')
                      
            .mb-3
            .owl-carousel.owl-simple.brands-carousel(data-toggle='owl' data-owl-options='{\
            "nav": false, \
            "dots": false,\
            "margin": 20,\
            "loop": false,\
            "responsive": {\
            "0": {\
            "items":2\
            },\
            "420": {\
            "items":3\
            },\
            "600": {\
            "items":4\
            },\
            "900": {\
            "items":5\
            },\
            "1600": {\
            "items":6,\
            "nav": true\
            }\
            }\
            }')
              a.brand(href='#')
                img(src='images/brands/1.png' alt='Brand Name')
              a.brand(href='#')
                img(src='images/brands/2.png' alt='Brand Name')
              a.brand(href='#')
                img(src='images/brands/3.png' alt='Brand Name')
              a.brand(href='#')
                img(src='images/brands/4.png' alt='Brand Name')
              a.brand(href='#')
                img(src='images/brands/5.png' alt='Brand Name')
              a.brand(href='#')
                img(src='images/brands/6.png' alt='Brand Name')
              a.brand(href='#')
                img(src='images/brands/7.png' alt='Brand Name')
            // End .owl-carousel
            .mb-5
            // End .mb-5
            .container.mt-5
              table.table.table-bordered
                thead
                  tr
                    th.text-center(colspan='6')
                      strong Danh m&#x1EE5;c
                tbody
                  tr.row.mx-0
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/1')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-tshirt.fa-2x.mb-2
                          p.mb-0 Th&#x1EDD;i trang nam
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/2')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-female.fa-2x.mb-2
                          p.mb-0 Th&#x1EDD;i trang n&#x1EEF;
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/3')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-mobile-alt.fa-2x.mb-2
                          p.mb-0 &#x110;i&#x1EC7;n tho&#x1EA1;i v&agrave; ph&#x1EE5; ki&#x1EC7;n
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/4')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-laptop.fa-2x.mb-2
                          p.mb-0 M&aacute;y t&iacute;nh, Laptop
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/5')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-blender.fa-2x.mb-2
                          p.mb-0 &#x110;i&#x1EC7;n t&#x1EED; gia d&#x1EE5;ng
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/6')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-book.fa-2x.mb-2
                          p.mb-0 S&aacute;ch v&agrave; v&#x103;n ph&ograve;ng ph&#x1EA9;m
                  tr.row.mx-0
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/7')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-puzzle-piece.fa-2x.mb-2
                          p.mb-0 &#x110;&#x1ED3; ch&#x1A1;i tr&#x1EBB; em
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/8')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-futbol.fa-2x.mb-2
                          p.mb-0 &#x110;&#x1ED3; d&ugrave;ng th&#x1EC3; thao
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/9')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-heart.fa-2x.mb-2
                          p.mb-0 S&#x1EE9;c kh&#x1ECF;e v&agrave; l&agrave;m &#x111;&#x1EB9;p
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/10')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-home.fa-2x.mb-2
                          p.mb-0 Nh&agrave; c&#x1EED;a v&agrave; &#x111;&#x1EDD;i s&#x1ED1;ng
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/11')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-car.fa-2x.mb-2
                          p.mb-0 &Ocirc; t&ocirc; v&agrave; xe m&aacute;y
                    td.col-4.col-md-2
                      a.text-decoration-none(href='/category/12')
                        .d-flex.flex-column.align-items-center
                          i.fas.fa-plug.fa-2x.mb-2
                          p.mb-0 Đồ điện và công nghệ
            .bg-lighter.trending-products
              .heading.heading-flex.mb-3
                .heading-left
                  h2.title Được mua nhiều
                  // End .title
                .heading-right
                  ul.nav.nav-pills.justify-content-start(role='tablist')
                    li.nav-item
                      a#trending-all-link.nav-link.active(data-toggle='tab' href='#trending-all-tab' role='tab' aria-controls='trending-all-tab' aria-selected='true') All
              .tab-content.tab-content-carousel
                #trending-all-tab.tab-pane.p-0.fade.show.active(role='tabpanel' aria-labelledby='trending-all-link')
                  .owl-carousel.owl-simple.carousel-equal-height.carousel-with-shadow(data-toggle='owl' data-owl-options='{\
                  "nav": false, \
                  "dots": true,\
                  "margin": 20,\
                  "loop": false,\
                  "responsive": {\
                  "0": {\
                  "items":5\
                  },\
                  "480": {\
                  "items":5\
                  },\
                  "768": {\
                  "items":5\
                  },\
                  "992": {\
                  "items":5\
                  },\
                  "1200": {\
                  "items":5,\
                  "nav": true\
                  }\
                  }\
                  }')
                    each product in productsSold
                      .product.text-center.shadow
                        figure.product-media
                          a.product-image-link(href=`/product/${product.id}`)
                            img.product-image(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
                          .product-action
                            form(action='/cart' method='POST').addtocart
                              input(type='hidden' name='productId' value=product.id)
                              input(type='hidden' name='quantity' value='1')
                              button.btn-product.btn-cart(type='submit' title='Thêm vào giỏ hàng')
                                span Thêm vào giỏ hàng
                        .product-body
                          h3.product-title
                            a(href=`/product/${product.id}`)= product.productName
                          .product-price
                            span= `${product.price.toLocaleString('vi-VN')} ₫`              
            .mb-5
            //- .row.cat-banner-row.electronics
            //-   .col-xl-3.col-xxl-4
            //-     .cat-banner.row.no-gutters
            //-       .cat-banner-list.col-sm-6.d-xl-none.d-xxl-flex(style='background-image: url(images/demos/demo-14/banners/banner-bg-1.jpg);')
            //-         .banner-list-content
            //-           h2
            //-             a(href='#') Electronics
            //-           ul
            //-             li
            //-               a(href='#') Cell Phones
            //-             li
            //-               a(href='#') Computers
            //-             li
            //-               a(href='#') TV &amp; Video
            //-             li
            //-               a(href='#') Smart Home
            //-             li
            //-               a(href='#') Audi
            //-             li
            //-               a(href='#') Home Audio &amp; Theater
            //-             li.list-all-link
            //-               a(href='#') See All Departments
            //-         // End .banner-list-content
            //-       // End .col-sm-6
            //-       .col-sm-6.col-xl-12.col-xxl-6
            //-         .banner.banner-overlay
            //-           a(href='#')
            //-             img(src='images/demos/demo-14/banners/banner-5.jpg' alt='Banner img desc')
            //-           .banner-content
            //-             h4.banner-subtitle.text-white
            //-               a(href='#') Best Deals
            //-             // End .banner-subtitle
            //-             h3.banner-title.text-white
            //-               a(href='#')
            //-                 | Canon EOS 
            //-                 br
            //-                 | Mega Sale
            //-                 br
            //-                 span Up To 20% Off
            //-             // End .banner-title
            //-             a.banner-link(href='#')
            //-               | Shop Now 
            //-               i.icon-long-arrow-right
            //-           // End .banner-content
            //-         // End .banner
            //-       // End .col-sm-6
            //-     // End .cat-banner
            //-   // End .col-xl-3
            //-   .col-xl-9.col-xxl-8
            //-     .owl-carousel.owl-full.carousel-equal-height.carousel-with-shadow(data-toggle='owl' data-owl-options='{\
            //-     "nav": true, \
            //-     "dots": false,\
            //-     "margin": 20,\
            //-     "loop": false,\
            //-     "responsive": {\
            //-     "0": {\
            //-     "items":3\
            //-     },\
            //-     "480": {\
            //-     "items":3\
            //-     },\
            //-     "768": {\
            //-     "items":4\
            //-     },\
            //-     "992": {\
            //-     "items":4\
            //-     },\
            //-     "1200": {\
            //-     "items":4\
            //-     },\
            //-     "1600": {\
            //-     "items":4\
            //-     }\
            //-     }\
            //-     }')
            //-       each product in products
            //-             .product.text-center.fancy-product.shadow
            //-               figure.product-media
            //-                 a.product-image-link(href=`product.html?id=${product.id}`)
            //-                   img.product-image.hover-effect(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
            //-                 .product-action
            //-                   form(action='/cart/add' method='POST').addtocart
            //-                     input(type='hidden' name='productId' value=product.id)
            //-                     input(type='hidden' name='quantity' value='1')
            //-                     button.btn-product.btn-cart(type='submit' title='Thêm vào giỏ hàng')
            //-                       span Thêm vào giỏ hàng
            //-               .product-body
            //-                 h3.product-title
            //-                   a(href=`product.html?id=${product.id}`)= product.productName
            //-                 .product-price
            //-                   span= `${product.price.toLocaleString('vi-VN')} ₫`
            //-   // End .owl-carousel
            //-   // End .col-xl-9
            //- // End .row cat-banner-row
            .mb-3
            // End .mb-3
            .container
              .heading.heading-center.mb-3
                h2.title Gợi ý cho bạn
                // End .title
              // End .heading
              .tab-content.mb-5
                #top-all-tab.tab-pane.p-0.fade.show.active(role='tabpanel' aria-labelledby='top-all-link')
                  .products
                    .row.justify-content-center#productContainer
                      each product in products
                        .col-md-3.col-lg-2.shadow.pt-2.mt-1.mb-1.mt-1.mb-1.ml-3.mr-3.col-xs-3
                          .product.text-center.fancy-product
                            figure.product-media
                              a.product-image-link(href=`product.html?id=${product.id}`)
                                img.product-image.hover-effect(src=`data:image/png;base64,${product.mainImage.toString('base64')}`, alt=`${product.productName}`)
                              .product-action
                                form(action='/cart' method='POST').addtocart
                                  input(type='hidden' name='productId' value=product.id)
                                  input(type='hidden' name='quantity' value='1')
                                  button.btn-product.btn-cart(type='submit' title='Thêm vào giỏ hàng')
                                    span Thêm vào giỏ hàng
                            .product-body
                              h3.product-title
                                a(href=`/product/${product.id}`)= product.productName
                              .product-price
                                span= `${product.price.toLocaleString('vi-VN')} ₫`
                              .sold.text-warning
                                | Đã bán: #{product.sold}
                    .row.justify-content-center.mt-4
                      .col-12.d-flex.justify-content-center
                        button#loadMoreBtn.btn.btn-outline-primary-2.text-center Xem thêm
    include ../partials/footer